<div class="container">
    <h2></h2>           
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Resource Id</th>
          <th>Title</th>
          <th>Description</th>
          <th>Category</th>
          <th>Date</th>
          <th>Type</th>
          <th>Price</th>
          <th>EmployeeId</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let resource of resources">
          <td>{{resource.resId}}</td>
          <td>{{resource.title}}</td> 
          <td>{{resource.description}}</td>
          <td>{{resource.category}}</td>
          <td>{{resource.date}}</td>
          <td>{{resource.type}}</td>
          <td>{{resource.price}}</td>
          <td>{{resource.empId}}</td>
        </tr>
    </tbody>
    </table>
</div>
<div class="center"> 
<h3><button type="button" class="btn btn-primary" (click)="gotolist()">Back</button></h3>
<style>
  h3{text-align:center}
</style>
</div>