<h3> View Offer Details</h3>
<div>
    <div>
        <label> <b> resId: </b></label> {{offer.resId}}
    </div>
    <div>
        <label> <b> title: </b></label>  {{offer.title}}
    </div>
    <div>
        <label> <b> description: </b></label> {{offer.description}}
    </div>
    <div>
        <label> <b> category: </b></label>  {{offer.category}}
    </div>
    <div>
        <label> <b> date: </b></label>   {{offer.date}}
    </div>
    <div>
        <label> <b> type: </b></label> {{offer.type}} 
    </div>
    <div>
        <label> <b> price: </b></label> {{offer.price}}
    </div>
    <div>
        <label> <b> empId: </b></label> {{offer.empId}}
    </div>
    <div>
        <label> <b> offerId: </b></label> {{offer.offerId}}
    </div>
    <div>
        <label> <b> available: </b></label> {{offer.available}}
    </div>
    <div>
        <label> <b> availableUpto: </b></label> {{offer.availableUpto}}
    </div>
    
</div>

