<h2> Requirements List</h2>
<table class = "table table-striped table-bordered">
<thead>
  <tr>
        <th>resId</th>
        <!-- <th>title</th>
        <th>description</th>
        <th>category</th>
        <th>date</th>
        <th>type</th>
        <th>price</th> -->
        <th>empId</th>
        <th>reqId</th>
        <th>fulfilled</th>
        <th>fulfilledOn</th>
        <!-- <th>Actions</th> -->
  </tr>       
</thead>
    <tbody>
        <tr *ngFor = "let requirement of requirements" >
            <td>  {{ requirement.resId }} </td>
            <!-- <td>  {{ requirement.title }} </td>
            <td> {{requirement.description}}</td>
            <td>  {{ requirement.category }} </td>
            <td>  {{ requirement.date }} </td>
            <td>  {{requirement.type }} </td>
            <td>  {{ requirement.price }} </td> -->
            <td>  {{ requirement.empId }} </td>
            <td>  {{ requirement.reqId }} </td>
            <td>  {{ requirement.fulfilled}} </td>
            <td>  {{ requirement.fulfilledOn}} </td>
            <!-- <td>
                <button (click) = "updateRequirement()" class="btn btn-info">Update</button>&nbsp;
                <button (click) = "deleteRequirement(requirement.resId)" class="btn btn-danger" >Delete</button>
               
            </td> -->
           
        </tr>
    </tbody>
</table>
<style>
    h3,h2,td,th{text-align: center;}
</style>